@media only screen and (min-width: 781px) and (max-width: 1270px) {
    .boxLeft {
        padding-left: 50px;
    }

    .primaryText {
        width: 200px;
        font-size: 2.5rem;
        margin: 0;
    }

    .secondaryText {
        margin: 0;
        font-size: 1.2em;
    }

    .navItems {
        width: 65%;
    }

    .navItems li a {
        font-size: 18px;
    }

    .boxRight img {
        width: 80%;
        min-width: 300px;
        text-align: center;
    }

    .boxRight {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .especialidadesItems {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .especialidadesBox {
        display: flex;
    }

    .odonto {
        margin: 2px;
        max-height: 150px;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }

}


@media only screen and (min-width: 320px) and (max-width: 780px) {
    .navItems li a {
        font-size: 18px;
        color: rgb(30, 30, 30);
    }

    .home {
        flex-direction: column-reverse;
        padding-top: 90px;
        min-height: 650px;
    }

    .primaryText {
        font-size: 3rem;
        min-width: 350px;
        margin: 0;
        text-align: center;
    }

    .secondaryText {
        margin: 0;
        font-size: 1.2em;
        text-align: center;
        width: 250px;
    }

    .boxLeft {
        justify-content: center;
        width: 370px;
        align-items: center;
    }

    .texts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .boxRight img {
        width: 150px;
    }

    .navLogo {
        margin-left: 35px;
    }

    .navItems {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #d3e3f1;
        width: 100%;
        z-index: 99;
        padding: 30px;
        top: 90px;
    }

    .especialidades {
        height: 450px;
    }

    .especialidadesItems {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 450px;
        padding-bottom: 10px;
        margin-bottom: 500px;
        white-space: nowrap;
    }

    ::-webkit-scrollbar{
        height: 4px;
        width: 4px;
        background: gray;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: #2c2c2c;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:vertical{
        background: #a8a8a8;
        border-radius: 10px;
    }


    .especialidadesBox {
        display: flex;
    }
    
    .hamburgerNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hamburgerNav i svg {
        cursor: pointer;
        width: 2em;
        height: 30px;
    }
    
    .actived {
        transition: all 0.5s ease;
        display: flex;
    }

    .odonto {
        margin: 2px;
        max-height: 150px;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }

    .textEspecial h2 {
        text-align: center;
    }

    .textEspecial p {
        font-size: 1em;
        text-align: center;
    }

    .odonto img {
        width: 100px;
    }
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}